#RewriteEngine On

# 1. Remove a extensão .php da URL
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]

# 2. Opcional: Redireciona de .php para a URL limpa (se alguém digitar .php manualmente)
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.+)\.php[\s?] [NC]
#RewriteRule ^(.+)\.php$ /$1 [R=301,L]